* {
  margin: 0;
  padding: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}
.stopwatch {
  /* border: 1px solid black; */
  height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(34, 33, 33);
}
.display {
  background-color: rgb(200, 127, 255);
  height: 15vh;
  width: 50vw;
  position: fixed;
  justify-self: center;
}
.display p{
  align-content: center;
}
.btns {
  display: grid;
  grid-template-columns: repeat(3, 15vw);
  align-self:self-end;
}
.btn1 {
  height: 10svh;
  font-size: 2vw;
  border: 3px solid rgb(5, 5, 5);
  align-items: center;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(to right, rgb(246, 86, 246), pink);
  z-index: 1;
}
